.miimagen img {
   display: block;
   margin-right: auto;
    margin-left: auto;
    width: 40%; 
}



.socials {
    margin-top: 90px !important;
    margin-left: 10px !important;
    border-left-width: 10px !important;
    padding-left: 75px !important;
}

#miiframe iframe {
    margin-left: 100px;
 }

img.imagenes {
    width: 100%;
    height: 320px;
}

@media only screen and (max-width: 900px) {
     img.imagenes {
    height: auto !important;
}
   
   #miiframe iframe {
            margin-left: 10px !important;
   }
    }

body{
    zoom: 112%;
    }

    #mititulo {
        font-family: 'Monofett', cursive;   
        color:purple;
        }
